<div class="about">
    <div class="img-container">
        <img src="https://wallpaper.forfun.com/fetch/0b/0bc739968eeb709d8eebbdb132141cb8.jpeg" alt="laptop-wallpaper">
    </div>
    <div class="info">
        <h3>Über mich</h3>
        <p>Ich bin <strong>Informatikstudent</strong>  im <strong>5. Semester</strong> mit einer aktuellen Durchschnittnote von <strong>1.5</strong>. Neben meinem Studium arbeite ich als <strong>Tutor für das Modul „Objektorientierte Programmierung (OOP)“</strong> an meiner Hochschule. Meine Stärken liegen im <strong>Frontend-Bereich</strong>, während ich solide Kenntnisse in <strong>Backend, Datenbank</strong> und <strong>IoT</strong> habe. Derzeit vertiefe ich mich in <strong>Künstliche Intelligenz</strong> und <strong>Maschinelles Lernen</strong> – mit dem Ziel, später in diesem Bereich zu arbeiten.</p>
    </div>
</div>
