<div class="about">
    <div class="img-container">
        <img src="https://wallpaper.forfun.com/fetch/0b/0bc739968eeb709d8eebbdb132141cb8.jpeg" alt="laptop-wallpaper">
    </div>
    <div class="info">
        <h3>Über mich</h3>
        <p>Ich bin Informatikstudent im 6. Semester mit einer aktuellen Durchschnittsnote von <strong>1,6</strong>. Neben meinem Studium bin ich als <strong>Tutor für das Modul Objektorientierte Programmierung (OOP)</strong> an meiner Hochschule tätig. Besonders interessiere ich mich für <strong>Künstliche Intelligenz, Machine Learning und die Architektur neuronaler Netze sowie deren praktische Anwendungen</strong>. Darüber hinaus arbeite ich gerne an Projekten mit KI-Bezug und erweitere dabei kontinuierlich meine Kenntnisse. Neben meinem Schwerpunkt in KI verfüge ich über <strong>solide Programmierkenntnisse sowie fundiertes Wissen in Bereichen wie Frontend, Backend, Datenbanken, IoT und Rechnernetzen.</strong></p>
    </div>
</div>
