<div class="header">
    <div class="title">Quocanh.dev</div>
    <nav>
        <a href="#hero" [class.active]="activeSection === 'hero'" (click)="setActiveSection('hero')">Home</a>
        <a href="#about" [class.active]="activeSection === 'about'" (click)="setActiveSection('about')">About</a>
        <a href="#projects" [class.active]="activeSection === 'projects'" (click)="setActiveSection('projects')">Projects</a>
        <a href="#contact" [class.active]="activeSection === 'contact'" (click)="setActiveSection('contact')">Contact</a>
    </nav>
</div>
