.hero {
    width: min(var(--content-width), calc(100% - (var(--page-padding) * 2)));
    margin: 8rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(2rem, 6vw, 5rem);

    .intro {
        flex: 1 1 34rem;

        h1 {
            font-size: clamp(2rem, 5vw, 3rem);
            line-height: 1.2;
            margin: 1.5rem 0;
        }

        p {
            color: rgba(0, 0, 0, 0.696);
            margin-bottom: 2rem;
        }

        .social-links {
            display: flex;
            gap: 1.5rem;

            a img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .avatar {
        position: relative;
        flex: 0 0 auto;
        width: clamp(190px, 24vw, 250px);
        height: clamp(230px, 28vw, 300px);
        overflow: hidden;
        border-radius: 50% 35% 50% 35% / 35% 50% 35% 50% ;
        border: 4px solid #000;

        img {
            scale: 1.4;
            position: absolute;
            top: -10%;
            left: -15%;
        }
    }
}

@media (max-width: 760px) {
    .hero {
        margin-top: 9rem;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .hero .intro {
        flex-basis: auto;
    }

    .hero .intro h1 br {
        display: none;
    }
}
