<div class="hero">
    <div class="intro">
        <h1>Informatikstudent &  <br>angehender Softwareentwickler</h1>
        <p>Hallo, ich bin Quoc Anh Luu. Ich begeistere mich besonders für Künstliche Intelligenz und erkunde mit großer Neugier verschiedene Bereiche der Softwareentwicklung.</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/quoc-anh-luu-5b9741339/" target="_blank" rel="noopener noreferrer"><img src="linkedin.png" alt="Linkedin-Logo"></a>
            <a href="https://github.com/quocanh-luu" target="_blank" rel="noopener noreferrer"><img src="github.png" alt="Github-Logo"></a>
        </div>
    </div>

    <div class="avatar"><img src="avatar.jpeg" alt="avatar"></div>
</div>