<div class="project1">
    <div class="img-container">
        <img src="bestellsystem.png" alt="project3-image">
    </div>
    <div class="info">
        <h4>Bestellsystem</h4>
        <p>Ein modernes Bestellsystem, das ich als Fullstack-Projekt entwickelt habe, um das Zusammenspiel von Frontend, Backend und Datenbanken in einer containerisierten Umgebung zu verstehen.
Das Projekt nutzt Angular für das UI, Node.js für die API-Logik, und kombiniert MySQL und MongoDB für unterschiedliche Datentypen.
Mithilfe von Docker wurde das gesamte System modular und portabel aufgebaut – ein wichtiger Schritt in meiner praktischen Fullstack-Entwicklung.</p>
        <div class="techstack"><span>Angular</span><span>Node.js</span><span>SQL</span></div>
        <div class="links">
            <a href="https://github.com/quocanh-luu/fullstack_ordering_system" target="_blank" rel="noopener noreferrer">GitHub Repo <img id="github-icon" src="github.png" alt="github_icon"></a>
        </div>
    </div>
</div>

<div class="continue">
    Und weitere laufende Projekte in den Bereichen Internet of Things (IoT) und Machine Learning (ML)..., die mein Portfolio in Zukunft erweitern werden!
</div>

