<div class="project1">
    <div class="info">
        <h4>STEM Website für Kinder</h4>
        <p>STEM Learning Website for Kids
Eine interaktive Website, die Kindern auf spielerische Weise Themen aus Science, Technology, Engineering und Mathematics (STEM) näherbringt.
Entwickelt mit HTML, CSS und JavaScript, unter Einsatz moderner CSS-Technologien wie Grid, Flexbox, CSS-Variablen und Animationen, um ein lebendiges, responsives Design zu schaffen.
Ziel: Lernen soll Spaß machen – auf jedem Gerät, in jedem Alter.</p>
        <div class="techstack"><span>HTML</span><span>CSS</span><span>Javascript</span></div>
        <div class="links">
            <a href="https://quocanh-luu.github.io/STEM_website_for_kids/" target="_blank" rel="noopener noreferrer" style="line-height: 0px;">Live Demo <img src="live_demo_icon.svg" alt="live_demo_icon"></a>
            <a href="https://github.com/quocanh-luu/STEM_website_for_kids" target="_blank" rel="noopener noreferrer">GitHub Repo <img id="github-icon" src="github.png" alt="github_icon"></a>
        </div>
    </div>
    <div class="img-container">
        <img src="STEM.png" alt="project1-image">
    </div>
</div>
