<h3>Projekte</h3>
<p>Mit jedem Projekt erweitere ich meine Fähigkeiten und meinen Horizont</p>
<div class="project5">
    <div class="img-container">
        <img src="WeighIn.png" alt="project5">
    </div>
    <div class="info">
        <h4>Competition Control</h4>
        <p>eine Software zur automatisierten Verwaltung von Judowettkämpfen – von digitalem Einwiegen, Kamera- und QR-/Judopass-Scanning über Bracket-Erstellung und Mattenzuweisung bis hin zur Webverwaltung und Punkteanzeige mit Ipponboard.</p>
        <div class="techstack"><span>Python</span><span>React</span><span>Python Frameworks</span></div>
        <div class="links">
            <a href="https://quocanh-luu.github.io/Competition_Control_Website/" target="_blank" rel="noopener noreferrer" style="line-height: 0px;">Mehr erfahren <img src="live_demo_icon.svg" alt="live_demo_icon"></a>
        </div>
    </div>
</div>
