<div class="project4">
    <div class="info">
        <h4>XXL Simon Classic</h4>
        <p>eine XXL-Version des klassischen Simon-Spiels, bei der die Spieler nicht nur Tasten drücken, sondern auf riesigen Spielfeldern stehen und springen. Das Spiel ist etwa 2 Meter breit, auffällig farbig gestaltet und mit LEDs sowie animierten Lichteffekten ausgestattet, um ein immersives Spielerlebnis zu schaffen.</p>
        <div class="techstack"><span>C++</span><span>Arduino</span><span>NodeJs</span></div>
    </div>
    <div class="img-container">
        <img src="IoT_Simon_Classic.jpg" alt="project4">
    </div>
</div>
