<h3>Projects</h3>
<p>Mit jedem Projekt erweitere ich meine Fähigkeiten und meinen Horizont</p>
<div class="project1">
    <div class="img-container">
        <img src="to_do_list.png" alt="project1-image">
    </div>
    <div class="info">
        <h4>To Do List</h4>
        <p>Mein erstes Project: eine einfache, aber funktionale Webanwendung, die Nutzer*innen ermöglicht, Aufgaben hinzuzufügen, abzuhacken und zu löschen. Die Daten werden mithilfe der Web Storage API dauerhaft im Browser gespeichert - ganz ohne Backend.</p>
        <div class="techstack"><span>HTML</span><span>CSS</span><span>Javascript</span></div>
        <div class="links">
            <a href="https://quocanh-luu.github.io/to_do_list/" target="_blank" rel="noopener noreferrer" style="line-height: 0px;">Live Demo <img src="live_demo_icon.svg" alt="live_demo_icon"></a>
            <a href="https://github.com/quocanh-luu/to_do_list" target="_blank" rel="noopener noreferrer">GitHub Repo <img id="github-icon" src="github.png" alt="github_icon"></a>
        </div>
    </div>
</div>
